* {
    box-sizing: border-box;}
body {margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
:root {
    --primary-color: #2A4032;
    --secondary-color: #3A5E46;
    --tertiary-color: #3B5F47;
    --quaternary-color: #1B2D22;
    --quinary-color: #FDDE67;
    --senary-color: #C5C2CA;
    --septenary-color: #181818;
    --octonary-color: #E9E9E9;
    --nonary-color: #302a2a;
    --denary-color: #FFEB9D;


    --text-color-dark: #000000;
    --text-color-light: #FFFFFF;


    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Roboto', sans-serif;

    --font-size-xxxs: 12px;
    --font-size-xxs: 14px;
    --font-size-xs: 16px;
    --font-size-sm: 18px;
    --font-size-md: 24px;
    --font-size-lg: 25px;
    --font-size-xl: 26px;
    --font-size-xxl: 30px;
    --font-size-3xl: 32px;
    --font-size-4xl: 36px;
    --font-size-5xl: 48px;
    --font-size-6xl: 60px;
    --font-size-7xl: 64px;
    --font-size-8xl: 112px;

    --font-weight-xs: 300;
    --font-weight-sm: 400;
    --font-weight-md: 500;
    --font-weight-lg: 700;
    --font-weight-xl: 900;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header {
    display: none;
}
.hero {
    background: linear-gradient(to right, var(--primary-color),var(--secondary-color));    
    color: var(--text-color-light);
    padding: 27px 15px 0 15px;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 0;
}
.herotext {
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 5%;
}
.year {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-sm);
    line-height: 100%;
    opacity: 0.3;
} 
.title {
    font-size: var(--font-size-6xl);
    font-weight: var(--font-weight-xl);
    line-height: 85%;
    margin: 12px 0;
}
.subtext {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-sm);
    line-height: 100%;
    opacity: 0.8;
    margin: 0;
}
.button {
    line-height: 100%;
    text-decoration: none;
    padding: 16px 40px;
    border-radius: 6px;
    display: inline-block;
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-sm);
}
.collection {
    background: var(--quinary-color);
    color: var(--text-color-dark);
    margin-top: 24px;
}
.slides {
    margin-top: 225px;
}
.slidewrapper {
    position: relative;
    text-align: center;
    
}
.circle1 {
    position: absolute;
    width: 193px;
    aspect-ratio: 1/1;
    background: var(--quaternary-color);
    border-radius: 50%;
    right: 0;
    bottom: 30%;
}
.circle2 {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 193px;
    aspect-ratio: 1/1;
    background: var(--quaternary-color);
    border-radius: 50%;
}
.imagewrapper {
    position: relative;
    z-index: 0;
    padding-right: 70px;
    padding-left: 70px;
}

.imagewrapper img {
    height: 391px;  
}
.heroimage2 {
    position: absolute;
    opacity: 0;
    margin-left: -30px;
    filter:drop-shadow(5px 20px 20px rgba(0, 0, 0, 0.4));

}
.heroimage3 {
    position: absolute;
    opacity: 0;
    margin-left: -30px;
    filter:drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}


.hero-tags {
    display: none;
}

#toggle, #toggle2, #toggle3 {
    display: none;
}
.slidecounter:hover {
    opacity: 100%;
    cursor: pointer;
    transform: scale(1.2);
}
.slide1display .slidecounter {
    opacity: 100%;
    transform: scale(1.2);

}
/* slide1 */
#toggle1:checked~.slides .slidewrapper .imagewrapper .heroimage1 {
    opacity: 100%;
    transition: 700ms;
}

/* slide2 */
#toggle2:checked~.hero-slide .slide1display .slidecounter {
    opacity: 20%;
    transform: scale(1);
}
#toggle2:checked~.hero-slide .slide2display .slidecounter {
    opacity: 100%;
    transform: scale(1.2);

}
#toggle2:checked~.slides .slidewrapper .imagewrapper .heroimage1 {
    opacity: 0;
    transition: 500ms;
}
#toggle2:checked~.slides .slidewrapper .imagewrapper .heroimage2 {
    opacity: 100%;
    transition: 700ms;
}
#toggle2:checked~.slides .slidewrapper .hero-tags .tag-group1 {
    opacity: 0;
    transition: 500ms;
}
#toggle2:checked~.slides .slidewrapper .hero-tags .tag-group2 {
    opacity: 100%;
    transition: 700ms;

}

/* slide3 */
#toggle3:checked~.hero-slide .slide1display .slidecounter {
    opacity: 20%;
    transform: scale(1);

}
#toggle3:checked~.hero-slide .slide3display .slidecounter {
    opacity: 100%;
    transform: scale(1.2);

}
#toggle3:checked~.slides .slidewrapper .imagewrapper .heroimage1 {
    opacity: 0;
    transition: 500ms;
}
#toggle3:checked~.slides .slidewrapper .imagewrapper .heroimage3 {
    opacity: 100%;
    transition: 700ms;
}
#toggle3:checked~.slides .slidewrapper .hero-tags .tag-group1 {
    opacity: 0;
    transition: 500ms;
}
#toggle3:checked~.slides .slidewrapper .hero-tags .tag-group3 {
    opacity: 100%;
    transition: 700ms;
}



#toggle3:checked~.hero-slide .slide1display .slidecounter {
    opacity: 20%;
}
#toggle3:checked~.hero-slide .slide3display .slidecounter {
    opacity: 100%;
}


.arrow-wrapper {
    display: none;
}
.navbar {
    background-color: var(--quinary-color);
}
.navbar ul {
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    fill: var(--septenary-color);
    fill-opacity: 80%;
    z-index: 999;
    background-color: var(--quinary-color);

}
.logobar {
    padding: 12px 0;
    background-color: var(--text-color-dark);
}
.logobar ul {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.logobar svg {
    height: 10px;
    width: auto;
    fill: var(--text-color-light);
}

.newcollection {
    padding-top: 32px;
    padding-bottom: 32px;
}
.secondary-title {
    font-weight: var(--font-weight-sm);
    font-size: var(--font-size-3xl);
    line-height: 100%;
    letter-spacing: 0%;
    margin:0 0 32px 0;
}
.wrapper {
    border-radius: 24px;
    padding-top: 18px;
    position: relative;
}
.jacket {
    background-color: var(--senary-color);
}
.wrappertext {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-lg);
    line-height: 100%;
    margin: 0 auto 32px 18px;
}
.jacketimg {
    transform: rotateY(-180deg);
    display: block;
    margin: 0 auto;
}

.dark {
    background: var(--text-color-dark);
    color: var(--text-color-light);
}
.discover {
    position: absolute;
    bottom: 18px;
    right: 18px;
}
.shades {
    background-color: var(--quinary-color);
    padding-top: 30px;
    margin-top: 32px;
}
.shadestext {
    position: absolute;
    top: 20px;
    right: 18px;
    text-align: center;
}
.discount {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-md);
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
}
.bestsellers {
    background-color: var(--octonary-color);
    padding-top: 32px;
    padding-bottom: 32px;
}
.slider {
    width: 100%;
    display: inline-flex; 
    overflow-x: scroll;
    gap: 35px;
}
.slider li {
    width: 228px;
    flex-shrink: 0;
}
.more {
    display: none;
}
#loadmore {
    display: none;
}
.load-more-wrapper {
    display: none;
    text-align: center;
}
.item-wrapper {
    /* height: 220px; */
    width: 100%;
    border-radius: 24px;
    background-color: var(--text-color-light);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.item-wrapper input {
    display: none;
}
.item-wrapper svg {
    position: absolute;
    top: 16px;
    right: 16px;
    fill: var(--septenary-color);
}

.item-wrapper input:checked~label svg {
    fill: red;
    stroke: none;
    
}
.discount-tag {
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: var(--secondary-color);
    padding: 3px 6px;
    border-radius: 6px;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-xs);
    font-size: var(--font-size-xxxs);
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    color: var(--text-color-light);
    text-align: center;

}

.item-name {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-md);
    font-size: var(--font-size-xs);
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    margin: 0;
}
.item-price {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-xs);
    font-size: var(--font-size-xxs);
    line-height: 150%;
    letter-spacing: 0%;
    margin: 0;
    opacity: 0.6;
}
.old-price {
    opacity: 0.2;
    text-decoration: line-through;
    margin-right: 12px;

}
.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.add-to-cart {
    width: 30px;
    aspect-ratio: 1/1;;
    padding: 7px;
    border-radius: 6px;
    background-color: var(--quinary-color);
    display: flex;
}
.item-details a svg {
    width: 16px;
    height: 16px;
}
.timer {
    background-color: var(--tertiary-color);
    padding-top: 32px;
    padding-bottom: 60px;
}
.timer .container {
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
}
.timer-image {
    display: none;
}
.timer-countdown {
    color: var(--text-color-light);
    text-align: center;
    flex-grow: 1;
    
}
.timer-title {
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-3xl);
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0 auto 32px auto;

}
.timer-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
}
.timer-item {
    width: 54px;
    font-family: var(--font-secondary);
}
.timer-number {
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-md);
    line-height: 150%;
    letter-spacing: 0%;
    padding: 12px 0;
    background-color: #18181840;
    border-radius: 8px;
    margin: 0;
}
.timer-text {
    font-weight: var(--font-weight-xs);
    font-size: var(--font-size-xxxs);
    line-height: 100%;
    letter-spacing: 0%;
    margin: 12px 0 0 0;
}
@media (min-width: 900px) {
    .container {

        max-width: 1320px;
        margin: 0 auto;
        padding-right: 0;
        padding-left: 0;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
    font-weight: var(--font-weight-xl);
    font-size: var(--font-size-4xl);
    line-height: 150%;
    letter-spacing: 0%;
    }
    header ul {
        display: flex;
        gap: 32px;
    }
    header ul li a {
        text-decoration: none;
        color: var(--text-color-light);
        opacity: 30%;
    }
    header ul li a:hover {
        opacity: 100%;
    }
 
    header .add-to-cart {
        border-radius: 50%;
        aspect-ratio: 1/1;
        width: 40px;
        padding: 10px;

    }  
    .hero {
        display: block;
        padding: 24px 0 0 0;

    }
    .hero-content {
        display: flex;
        justify-content: space-between;
    
    }
    .hero-slide {
        align-self: center;
    }
    .herotext {
        position: static;
        align-self: center;
    }
    .year {
    font-size: var(--font-size-6xl);
    } 
    .title {
    font-size: var(--font-size-8xl);
    letter-spacing: 130%;
    margin: 24px 0;
    text-wrap: wrap;
    }
    .subtext {
    font-size: var(--font-size-lg);
    margin: 0;
    }
    .collection {
        margin-top: 50px;

    }
    .slides {
        margin-top: 63px;
    }
    .imagewrapper {
        display: flex;
        gap: 190px;  
    }
    .imagewrapper img {
        height: 620px;
    }       
    
    .circle1, .circle2 {
        width: 310px;
    }
    .bgcircle {
        left: 20%;
        bottom: 35%;
    }
    .secondcircle {
    left: -20%;
    bottom: 20%;
    }
    .hero-tags {
        display: block
    }
    .hero-price {
        font-weight: var(--font-weight-md);
        font-size: var(--font-size-4xl);
        position: absolute;
        top: 80px;
        left:0 ;
        display: inline-block
        
    }
    .hero-discount {
        font-weight: var(--font-weight-lg);
        font-size: var(--font-size-xl);
        position: absolute;
        top: 115px;
        left: 70px;
        display: inline-flex;
        align-items: center;
        width: 110px;
        aspect-ratio: 1/1;
        background-color: #FDDE67;
        border-radius: 50%;
        text-wrap: wrap;
        color: var(--text-color-dark);
        text-align: center;
        padding: 10px;
    }
    .tag-group2 {
        opacity: 0
    }
    .tag-group3 {
        opacity: 0
    }

  
    .slidecounter {
        background-color: var(--text-color-light);
        width: 21px;
        margin-bottom: 21px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        opacity: 20%;
    }

    
    .arrow-wrapper {
        position: absolute;
        display: flex;
        gap: 15px;
        bottom: 32px;
        left: 0;
    }
    .arrow-wrapper svg {
        border: solid 2px var(--text-color-light);
        opacity: 30%;
        border-radius: 50%;
    }
    .arrow-right {
        transform: rotateY(180deg);
    }
    .arrow-wrapper svg:hover {
        opacity: 100%;
        cursor: pointer;

    }
    .button.collection:hover {
        background-color: var(--denary-color);
        cursor: pointer;
    }
    .navbar {
        display: none;
    }
    .logobar {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .logobar svg {
        height: 40px;
    }
    .newcollection {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .secondary-title {
        margin-bottom: 70px;
    }
    .newcollection-wrappers {
        display: flex;
        gap: 80px;
    }
    .wrappertext {
    font-size: var(--font-size-md);
    }
    .wrapper.jacket {
        flex-grow: 1
    }
    .wrapper.shades {
        flex-grow: 3;
        margin: 0;
    }
    .shadestext {
        top: 72px;
        right: 92px;
        line-height: 150%;
    }
    .jacketimg {
        width: 278px;
    }
    .shadesimg {
    width: 455px;
    }
    .discount {
        font-size: var(--font-size-5xl);
        right: 98px;
    }

    .button.dark:hover {
        background-color: var(--nonary-color);
        cursor: pointer;
    }
    .bestsellers {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .slider {
        display: flex;
        gap: 0;
        flex-wrap: wrap;
        row-gap: 30px;
        margin-bottom: 70px;
        overflow-x: hidden; 
    }
    .slider ul {
        margin: 0 -27.5px;
    }
    .slider li {
        width: 25%;
        padding: 0 12.5px;
    }
    .item-wrapper {
        padding-top: 55px;
        padding-bottom: 55px;
    }
    .item-wrapper img {
        width: 215px;
    }
    .item-wrapper:hover img {
        transform: scale(1.2);
    }
    .load-more-wrapper {
        display: block;
    }
    #loadmore:checked~.slider .more {
        display: block;
    }
    .timer {
        background: linear-gradient(to right, var(--quinary-color) 32%,var(--tertiary-color) 32%);
        padding-top: 78px;
        padding-bottom: 78px;
    }
    .timer-title {
        font-size: var(--font-size-7xl);
        margin: 0 auto 93px auto;
        text-align: left;
    }
    .timer-wrapper {
        margin: 0 -24px;
    }
    .timer-item {
        width: 25%;
        padding: 0 24px;
    }
    .timer-discount {
        font-size: var(--font-size-7xl);
        font-weight: var(--font-weight-lg);
        line-height: 48px;
        margin: 0 auto 32px 0;
    }
    .timer-image {
        display: block;
    }
    .timer-number {
        font-size: var(--font-size-7xl);
        font-weight: var(--font-weight-lg);
    }
    .timer-text {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-xs);
    }



}