* {
    box-sizing: border-box;}
body {margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
:root {
    --primary-color: #2A4032;
    --secondary-color: #3A5E46;
    --tertiary-color: #3B5F47;
    --quaternary-color: #1B2D22;
    --quinary-color: #FDDE67;
    --senary-color: #C5C2CA;
    --septenary-color: #181818;
    --octonary-color: #E9E9E9;


    --text-color-dark: #000000;
    --text-color-light: #FFFFFF;


    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Roboto', sans-serif;

    --font-size-xxs: 14px;
    --font-size-xs: 16px;
    --font-size-sm: 18px;
    --font-size-md: 24px;
    --font-size-lg: 25px;
    --font-size-xl: 26px;
    --font-size-xxl: 30px;
    --font-size-xxxl: 32px;
    --font-size-xxxxl: 36px;
    --font-size-xxxxxl: 48px;
    --font-size-xxxxxxl: 60px;
    --font-size-xxxxxxxl: 112px;

    --font-weight-xs: 300;
    --font-weight-sm: 400;
    --font-weight-md: 500;
    --font-weight-lg: 700;
    --font-weight-xl: 900;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header {


}
.hero {
    background: linear-gradient(to right, var(--primary-color),var(--secondary-color));    
    color: var(--text-color-light);
    padding: 27px 15px 0 15px;
    position: relative;
    height: 640px;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: 0;
}
.herotext {
    position: absolute;
    z-index: 2;
    top: 5%;
    left: 5%;
}
.year {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-sm);
    line-height: 100%;
    opacity: 0.3;
} 
.title {
    font-size: var(--font-size-xxxxxxl);
    font-weight: var(--font-weight-xl);
    line-height: 85%;
    margin: 12px 0;
}
.subtext {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-sm);
    line-height: 100%;
    opacity: 0.8;
    margin: 0;
}
.button {
    line-height: 100%;
    text-decoration: none;
    padding: 16px 40px;
    border-radius: 6px;
    display: inline-block;
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-sm);
}
.collection {
    background: var(--quinary-color);
    color: var(--text-color-dark);
    margin-top: 24px;
}
.imagewrapper {
    position: relative;
    z-index: 0;
}
.heroimage {
    height: 391px;  
}
.bgcircle {
    position: absolute;
    width: 193px;
    aspect-ratio: 1/1;
    background: var(--quaternary-color);
    border-radius: 50%;
    z-index: -1;
    right: -20%;
    bottom: 40%;
}
.secondcircle {
    left: -20%;
    bottom: 20%;
}

.navbar ul {
    background-color: var(--quinary-color);
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    bottom: 0;
    fill: var(--septenary-color);
    fill-opacity: 80%;
    z-index: 999;
}
.logobar {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 12px 15px;
    fill: var(--text-color-light);
    background-color: var(--text-color-dark);
}
.logobar svg {
    height: 10px;
    width: auto;
}
.newcollection {
    padding: 32px 15px;
}
.secondary-title {
    font-weight: var(--font-weight-sm);
    font-size: var(--font-size-xxxl);
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
}
.wrapper {
    border-radius: 24px;
    margin-top: 32px;
    padding-top: 18px;
    position: relative;
}
.jacket {
    background-color: #C5C2CA;
}
.wrappertext {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-lg);
    line-height: 100%;
    margin: 0 auto 32px 18px;
}
.jacketimg {
    transform: rotateY(-180deg);
    display: block;
    margin: 0 auto;
}
.discover {
    background: var(--text-color-dark);
    color: var(--text-color-light);
    position: absolute;
    bottom: 18px;
    right: 18px;
}
.shades {
    background-color: var(--quinary-color);
    padding-top: 30px;
}
.shadestext {
    position: absolute;
    top: 20px;
    right: 18px;
    text-align: center;
}
.discount {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-lg);
    font-size: var(--font-size-md);
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
}
.bestsellers {
    background-color: var(--octonary-color);
    padding: 32px 15px;
}
.slider {
    margin-top: 32px;
    display: inline-flex;
    overflow-x: scroll;
    gap: 35px;
}
.slider li {
    width: 228px;
}
.item-wrapper {
    height: 220px;
    width: 100%;
    border-radius: 24px;
    background-color: var(--text-color-light);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.item-wrapper svg {
    position: absolute;
    top: 16px;
    right: 16px;
    fill: var(--septenary-color);
}

.item-name {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-md);
    font-size: var(--font-size-xs);
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;
    margin: 0;
}
.item-price {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-xs);
    font-size: var(--font-size-xxs);
    line-height: 150%;
    letter-spacing: 0%;
    margin: 0;
    opacity: 0.6;
}
.old-price {
    opacity: 0.2;
    text-decoration: line-through;
    margin-right: 12px;

}
.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.item-details a {
    width: 30px;
    aspect-ratio: 1/1;;
    padding: 7px;
    border-radius: 6px;
    background-color: var(--quinary-color);
    display: flex;
}
.item-details a svg {
    width: 16px;
    height: 16px;
}